/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
	font: 12px/1.5 tahoma,arial,"Hiragino Sans GB","瀹嬩綋",sans-serif;
}
.header {
	background-color: #FAFAFA;
}
.container {
	background-color: transparent;
	margin: 10px 0 10px 0;
}
.footer {
	background-color: #313131;
	color: #999;
	text-align: right;
	border-top: 2px solid red;
}
.error-msg {
	color: red;
	text-align: center;
}
/** 濡傛灉闇�澶撮儴鍜屽簳閮ㄥ搴�00%
.header .base, .footer .base {
	width: 100%;
}**/
div.base {
	/*涓轰簡浣垮唴閮ㄧ殑float鍏冪礌涔熷彲浠ユ拺寮�div*/
	display: table;
	width: 1200px;
	min-width: 220px;
	margin: 0 auto;
	
	/* border: 1px dashed #CCC; */
}
.header-inner {
	height: 130px;
	text-align: center;
	line-height: 130px;
}
.search-wrap {
	height: 120px;
}
.bar-warp {
	height: 40px;
	width: 100%;
	background-color: #E4393C;
}
ul.bar li {
	float: left;
	color: #FAFAFA;
	font-size: 20px;
	padding: 0 25px;
	line-height: 40px;
	text-align: center;
	display: block;
}
ul.bar li:hover {
	background-color: #bf152c;
	cursor: pointer;
}
ul.bar li.f {
	padding: 0;
	width: 210px;
	background-color: #bf152c;
	border-right: 1px solid #E4393C;
}

div.inner {
	padding: 10px;
}
.container .nav {
	float: left;
	width: 210px;
	background-color: #FAFAFA;
	
}
.container .content {
	margin-left: 220px;
	/* height: 1300px; */
	
	/* border: 1px dashed #9F0; */
}

div.select-box {
	padding: 10px;
	height: 100px;
	background-color: #FAFAFA;
}

div.commodity-box {
}

ul.clist li {
	float: left;
	width: 244px;
	height: 350px;
}
ul.clist li inner{
	padding: 12px;
}
ul.clist li div.c-title {
	margin: 5px 0;
}
ul.clist li div.c-title a {
	color: #666;
	font-size: 13px;
	text-decoration: none;
}
ul.clist li div.c-title a:hover {
	color: #E4393C;
	text-decoration: underline;
}
ul.clist li div.c-price {
	margin: 10px 0;
	font-family: verdana;
	font-size: 14px;
	color: #E4393C;
}