<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.basic.dao.CommodityMapper">

	<resultMap type="commodity" id="commodityResultMap">
		<id property="id" column="id" />
		<result property="sku" column="sku" />
		<result property="title" column="title" />
		<result property="version" column="version" />
	</resultMap>

	<!-- 查询商品，根据sku -->
	<select id="findBySku" parameterType="String" resultType="commodity">
		SELECT * from Commodity c where c.sku=#{sku}
	</select>

	<!-- 查询商品列表 -->
	<select id="findAll" resultType="commodity">
		SELECT * from Commodity
	</select>
	
	<select id="findByPage" resultType="commodity">
		SELECT * from Commodity
	</select>

	<select id="count" resultType="int">
		SELECT count(0) from Commodity
	</select>
</mapper>
